@{
    ViewData["Title"] = "Homepage";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/Homepage.css"/>
    <title>title</title>
</head>
<body>

<div class="top_boxes">
    <div class="box">
        <h2>Total Instances</h2>
        <hr>
    </div>
    <div class="box">
        <h2>Total Continents</h2>
        <hr>
    </div>
</div>

<div class="top_under_boxes">
    <div class="box">
        <h2>Total Countries</h2>
        <hr>
    </div>
    <div class="box">
        <h2>Total Cities</h2>
        <hr>
    </div>
</div>

</body>
</html>