/* Umbraco #3544B1 */
body{
    margin: 0;
    padding: 0;
}
  
/* NAVIGATION BAR */
.topnav img{
    height: 15%;
    width: 15%;
}
  
.topnav-right img{
    height: 30%;
    width: 30%;
    margin-top: 10%;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20%;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
  
/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Search Bar */
.search_row{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

/* SEARCH - FROM */
.SearchFromDateText {
    margin-right: 0.5%;
}

.SearchFromDateText p{
    margin-top: 0px;
}

.SearchFromDateBtn{
    margin-right: 2%;
}

/* SEARCH - To */
.SearchToDateText{
    margin-right: 0.5%;
}

.SearchToDateText p{
    margin-top: 0px;
}

.SearchToDateBtn{
    margin-right: 10%;
}

.search_box{
    margin-right: 0.5%;
}

.search_box2{
    margin-right: 0.5%;
}

.AddSearchBox{
    margin-top: 0px;
    margin-right: 10%;
}

.search_box3{
    margin-right: 0.5%;
}

.search_box4{
    margin-right: 0.5%;
}

.AddSearchBox2{
    margin-top: 0px;
}

/* INFO BOX */
.info_box{
    display: flex;
    flex-direction: row;
    margin: auto auto;
    width: 25%;
    margin-top: 5%;
    text-align: center;
    align-items: center;
}

.Search_SearchExport{
    margin-right: 20%;
}

.spacer hr{
    margin-top: 5%;
    border: 1px solid black;
}

/* DATA */

/* DATA AREA */
.DataArea{
    height: 5px;
}

.DataArea p{
    float: left;
}

.DataAreaContinent{
    margin-left: 1%;
    margin-right: 2%;
}

.DataAreaCountry{
    margin-right: 2%;
}

.DataAreaCity{
    margin-right: 2%;
}

.DataAreaVersion{
    margin-right: 2%;
}

.DataAreaPackages{
    margin-right: 2%;
}

/* DATA AREA DATA */
.DataAreaText{
    display: flex;
    background-color: #D9D9D9;
    margin-top: 3%;
}

.DataAreaText p{
    float: left;
}

.DataAreaTextContinent{
    margin-left: 2%;
    margin-right: 4.5%;
}

.DataAreaTextCountry{
    margin-right: 3%;
}

.DataAreaTextCity{
    margin-right: 2%;
}

.DataAreaTextVersion{
    margin-right: 3%;
}

.DataAreaTextPackages{
    margin-right: 5.5%;
}