<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - UmbracoHOP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/UmbracoHOP.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
        <!-- NAVIGATION BAR -->
                <div class="topnav">
                    <img src="/Images/umbraco_logo.png" alt="">
                    <div class="topnav-right">
                        <ul>
                            <li>
                                <a asp-action="Homepage" asp-controller="Home">Home</a>
                            </li>
                            <li>
                                <a asp-action="Advanced" asp-controller="Advanced">Advanced</a>
                            </li>
                            <li>
                                <a asp-action="Search" asp-controller="Search">Search</a>
                            </li>
                            <li>
                                <a asp-action="Profile" asp-controller="Profile"><img src="/Images/profile_icon.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>