@{
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/Profile.css"/>
    <title>title</title>
</head>
<body>
<div>
    <div class="ChangeInformation">
        <p>New Password</p>
        <input type="password" placeholder="New Password"/>
        <p>Confirm Password</p>
        <input type="password" placeholder="Confirm Password"/>
        <button>Confirm</button>
    </div>

    <div class="logoutBox">
        <button>Logout</button>
    </div>
</div>
</body>
</html>