/* Umbraco #3544B1 */
body{
    margin: 0;
    padding: 0;
}

/* Search Bar */
.search_row{
    display: flex;
    flex-direction: row;
    margin-left: 25%;
}

.search_box{
    margin-right: 2%;
}

.SearchFromDateText {
    margin-right: 1%;
}

.SearchFromDateText p{
    margin-top: 0px;
}

.SearchFromDateBtn{
    margin-right: 2%;
}

.SearchToDateText{
    margin-right: 1%;
}

.SearchToDateText p{
    margin-top: 0px;
}

.SearchToDateBtn{
    margin-right: 2%;
}

.SearchText{
    margin-right: 2%;
}

.SearchButton{
    margin-right: 10%;
}

/* INFO BOX */
.info_box{
    margin: auto auto;
    width: 25%;
    margin-top: 5%;
    text-align: center;
    align-items: center;
}

.info_box .box{
    /* position: relative; */
    width: 370px;
    height: 270px;
    background-color: #3544B1;
    color: white;
    float: left;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 4px rgb(0, 0, 0);
}

/* SPACER BETWEEN INFO BOX AND DATA */
.spacer hr{
    margin-top: 30%;
    border: 1px solid black;
}

/* DATA AREA */
.DataArea{
    height: 5px;
}

.DataArea p{
    float: left;
}

.DataAreaContinent{
    margin-left: 1%;
    margin-right: 2%;
}

.DataAreaCountry{
    margin-right: 2%;
}

.DataAreaCity{
    margin-right: 2%;
}

.DataAreaVersion{
    margin-right: 2%;
}

.DataAreaPackages{
    margin-right: 2%;
}

/* DATA AREA DATA */
.DataAreaText{
    display: flex;
    background-color: #D9D9D9;
    margin-top: 3%;
}

.DataAreaText p{
    float: left;
}

.DataAreaTextContinent{
    margin-left: 2%;
    margin-right: 4.5%;
}

.DataAreaTextCountry{
    margin-right: 3%;
}

.DataAreaTextCity{
    margin-right: 2%;
}

.DataAreaTextVersion{
    margin-right: 3%;
}

.DataAreaTextPackages{
    margin-right: 5.5%;
}